# development || production || test
NODE_ENV=

# default: 3000
PORT=

DATABASE_URL=

CORS_ORIGIN="http://localhost:5173,http://localhost:4173"

# Database connection settings if use docker-compose
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=